<div id="asset_container">

	<!-- ROW -->
	<div class="big">
		<div id="thumb" style="background:url(/thumbs/bombermine.png);"></div>
		<div id="info">
			<div id="title">Bombermine</div>
			<div id="description">
				Spritesheets, scripts, & special effects from <a href="http://bombermine.com/">a Bomberman MMO</a>.<br>
				<a href="https://gameon.mozilla.org/en-US/entries/bombermine/">Voted Best Web Game</a> in the Mozilla Gameon contest.<br><br>
				
				<div id="desc_footer">
					<%if(PREVIEW){%>
						<a href="http://ivanpopelyshev.github.com/bombermine-shuffle/index.html"><div id="preview_button">Preview</div></a>
					<%}else{%>
						<a href="http://commondatastorage.googleapis.com/commonly/tggs/entries/download/Bombermine.zip"><div id="preview_button">Download</div></a>
					<%}%>
					From <a href="http://bombermine.com/">Bombermine</a>
				</div>

			</div>
		</div>
	</div>
	<div>
		<div id="thumb" style="background:url(/thumbs/shapes.png);"></div>
		<div id="info">
			<div id="title">50 Shapes of Yay</div>
			<div id="description">
				A pack of particle effects for Unity, with ~50 vector shapes.<br><br>

				<div id="desc_footer">
					
					<%if(PREVIEW){%>
						<a href="http://nightwood.net/prywatne/particles/"><div id="preview_button">Preview</div></a>
					<%}else{%>
						<a href="http://commondatastorage.googleapis.com/commonly/tggs/entries/download/50Shapes.zip"><div id="preview_button">Download</div></a>
					<%}%>

					From <a href="http://indiesquid.com/">IndieSquid</a>
				</div>

			</div>
		</div>
	</div>


	<!-- ROW -->
	<div>
		<div id="thumb" style="background:url(/thumbs/forest.png);"></div>
		<div id="info">
			<div id="title">Tilted Trees</div>
			<div id="description">
				Isometric tiles for a forest terrain.<br><br>

				<div id="desc_footer">

					<%if(PREVIEW){%>
						<a href="http://commondatastorage.googleapis.com/commonly/tggs/entries/preview/forest/index.html"><div id="preview_button">Preview</div></a>
						<a href="http://indiesquid.com/">IndieSquid</a>
					<%}else{%>
						<a href="http://commondatastorage.googleapis.com/commonly/tggs/entries/download/IsometricForest.zip"><div id="preview_button">Download</div></a>
						From <a href="http://indiesquid.com/">IndieSquid</a>
					<%}%>

				</div>

			</div>
		</div>
	</div>
	<div class="big">
		<div id="thumb" style="background:url(/thumbs/reimagine.png);"></div>
		<div id="info">
			<div id="title">Reimagine Soundtrack</div>
			<div id="description">
				The original, orchestral soundtrack from <a href="http://www.newgrounds.com/portal/view/569281">Reimagine :The Game:</a>.<br>
				<a href="http://www.flashgamingsummit.com/past-events/2012/awards.html">Voted Best Sound</a> for the Mochi Awards.<br><br>

				<div id="desc_footer">

					<%if(PREVIEW){%>
						<a href="http://commondatastorage.googleapis.com/commonly/tggs/entries/samples/Skipping%20Through%20the%20Orchestra%20Pit.ogg"><div id="preview_button">Preview</div></a>
					<%}else{%>
						<a href="http://commondatastorage.googleapis.com/commonly/tggs/entries/download/ReimagineOST.zip"><div id="preview_button">Download</div></a>
					<%}%>

					From <a href="http://twitter.com/petegresser">Peter Gresser</a>
				</div>

			</div>
		</div>
	</div>


	<!-- ROW -->
	<div class="medium">
		<div id="thumb" style="background:url(/thumbs/sprite.png);"></div>
		<div id="info">
			<div id="title">Sprite Club</div>
			<div id="description">
				Animated sprites from multiple artists. Seen in
				<a href="http://juice.craftyy.com/">The Juice Box</a>,
				<a href="http://www.glassknuckle.com/Vahiy/">Vahiy</a>, &
				<a href="http://mmorpg.dracsoft.com/">Decayed of Zombies</a>.<br><br>

				<div id="desc_footer">
					
					<%if(PREVIEW){%>
						<a href="http://commondatastorage.googleapis.com/commonly/tggs/entries/preview/juice/Juice.html"><div id="preview_button">Preview</div></a>
					<%}else{%>
						<a href="http://commondatastorage.googleapis.com/commonly/tggs/entries/download/Sprite.zip"><div id="preview_button">Download</div></a>
					<%}%>

					<a href="http://ncase.me/">Ncase</a>,
					<a href="http://glassknuckle.com">Glass Knuckle</a>, &
					<a href="http://dracsoft.com/">Dracsoft</a>
				</div>

			</div>
		</div>
	</div>
	<div class="medium">
		<div id="thumb" style="background:url(/thumbs/music.png);"></div>
		<div id="info">
			<div id="title">Music of Madness</div>
			<div id="description">
				Creepy music collection from multiple artists.<br>
				Heard in <a href="http://bleed4speed.herokuapp.com/">Bleed For Speed</a>.<br><br>

				<div id="desc_footer">

					<%if(PREVIEW){%>
						<a href="http://commondatastorage.googleapis.com/commonly/tggs/entries/preview/music/Nostalgia.ogg"><div id="preview_button">Preview</div></a>
					<%}else{%>
						<a href="http://commondatastorage.googleapis.com/commonly/tggs/entries/download/MusicMadness.zip"><div id="preview_button">Download</div></a>
					<%}%>

					<a href="https://twitter.com/thejasonchurch">Jason Church</a> & 
					<a href="http://matt-shaffer.com/">Matt Shaffer</a>
				</div>

			</div>
		</div>
	</div>

	<!-- ROW -->
	<div>
		<div id="thumb" style="background:url(/thumbs/ui.png);"></div>
		<div id="info">
			<div id="title">Iconoclast</div>
			<div id="description">
				An assortment of 100 pixel art GUI icons.<br><br>

				<div id="desc_footer">

					<%if(PREVIEW){%>
						<span style="opacity:0.5">Preview Coming</span> |
					<%}else{%>
						<a href="http://commondatastorage.googleapis.com/commonly/tggs/entries/download/UIIcons.zip"><div id="preview_button">Download</div></a>
					<%}%>
					
					<a href="http://matt-shaffer.com/">Matt Shaffer</a>
				</div>

			</div>
		</div>
	</div>
	<div>
		<div id="thumb" style="background:url(/thumbs/pixelbrush.png);"></div>
		<div id="info">
			<div id="title">Pixel Paintbrush</div>
			<div id="description">
				Photoshop brushes for making isometric pixel art.<br><br>
				
				<div id="desc_footer">
					
					<%if(PREVIEW){%>
						<span style="opacity:0.5">Preview Coming</span> |
					<%}else{%>
						<a href="http://commondatastorage.googleapis.com/commonly/tggs/entries/download/PixelBrush.zip"><div id="preview_button">Download</div></a>
					<%}%>

					<a href="http://indiesquid.com/">IndieSquid</a>
				</div>

			</div>
		</div>
	</div>
	<div>
		<div id="thumb" style="background:url(/thumbs/ezanim.png);"></div>
		<div id="info">
			<div id="title">EZ Animate</div>
			<div id="description">
				A Unity package for simple 2D Texture animation.<br><br>
				
				<div id="desc_footer">

					<%if(PREVIEW){%>
						<span style="opacity:0.5">Preview Coming</span> |
					<%}else{%>
						<a href="http://commondatastorage.googleapis.com/commonly/tggs/entries/download/EZAnimate.zip"><div id="preview_button">Download</div></a>
					<%}%>

					<a href="https://www.assetstore.unity3d.com/#/publisher/2579">Jon Follett</a>
				</div>

			</div>
		</div>
	</div>

</div>