<!--Discuss this on Reddit or Hacker News
<br/-->
Send questions to me at <a href="mailto:nicklaus.liow@gmail.com">nicklaus.liow@gmail.com</a>
<br>
I'm also at <a href="http://twitter.com/ncasenmare">@ncasenmare</a>.
<br><br>
<!--Logo-->