html, body {
	padding: 0px; margin: 0px; width: 100%; height: 100%;
}
body {
	margin:0;
	background-attachment: fixed;
	font-family: Open Sans, Arial;
}
button {
	cursor: pointer;
}
a {
	color:inherit;
}
ol li {
	position: relative;
	left: -15px;
}

#background {
	/*background-color: #BADA55;*/
	background: url(background.png);
	background-size: cover;
	background-attachment: fixed;
	width:100%; height:100%;
	position: fixed; z-index:-1;
}

#splash_button {
	border-radius: 50px;
	padding: 5px;
	background: rgb(0, 0, 0);
	border: 2px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	font-size: 25px;
	width: 200px;
	margin: 15px auto 5px auto;
	position: relative;
	cursor: pointer;
}
#splash_button:hover {
	background: #222;
	top:-2px;
}

#header {

	width:100%;
	position:relative;
	overflow: hidden;

	height: -webkit-calc(100% - 50px);
	height: -moz-calc(100% - 50px);
	height: -ms-calc(100% - 50px);
	height: -o-calc(100% - 50px);
	height: calc(100% - 50px);

}


#scroll_down{
	position:relative;
	width:100%;
	height:40px;
	overflow: hidden;
}
#scroll_down div {
	position: absolute;
	top: 0;
}
#scroll_0, #scroll_3 {
	width:50%; height:40px;
	background: #000;
}
#scroll_0 {	
	left:-40px;
}
#scroll_3 {
	right:-40px;
}
#scroll_1, #scroll_2 {
	width: 0;
	height: 0;
	border-style: solid;
	margin: 0 auto;

}
#scroll_1 {

	left: -webkit-calc(50% - 40px);
	left: -moz-calc(50% - 40px);
	left: -ms-calc(50% - 40px);
	left: -o-calc(50% - 40px);
	left: calc(50% - 40px);

	border-width: 0 40px 40px 0;
	border-color: transparent transparent #000 transparent;
}
#scroll_2 {

	left: 50%;

	border-width: 40px 40px 0 0;
	border-color: transparent #000 transparent transparent;
}

#header_container {
	width:100%;
	height:100%;
	position: relative;
}

#header_info {

	width:100%;
	position: absolute;
	background: rgba(0,0,0,0.8);
	padding: 10px 0 20px 0;

	top: -webkit-calc(50% - 220px);
	top: -moz-calc(50% - 220px);
	top: -ms-calc(50% - 220px);
	top: -o-calc(50% - 220px);
	top: calc(50% - 220px);

}
#header_info_container {
	width:900px;
	margin: 0 auto;
}
#header_info_title {
	font-family: Oswald, Arial;
	font-weight: 300;
	color:#fff;
	font-size:90px;
	text-align: center;
}
#header_info_bar {
	position: relative;
	overflow: hidden;
	width:100%; height:50px;
	background: #000;
	border-radius: 10px;
}
#header_info_bar_white {
	width:25%;
	height: 100%;
	background: white;
	position: absolute;
}

#header_info_caption {
	margin-top:10px;
	font-weight: 300;
	color: #ccc;
	font-size: 20px;
	text-align: center;
}
#header_info_caption span {
	color: #fff;
	font-size: 30px;
}

.section {
	padding:30px;
	overflow: hidden;
}
.section.black {
	background:#000;
	color:#fff;
}
.section.white {
	background:#fff;
	color:#000;
}
.section #section_container{
	width:850px;
	margin: 0 auto;
}
.section p {
	font-size: 20px;
}
.section p span {
	font-size: 30px;
}
.section.black p {
	color: rgb(119, 119, 119);
}
.section.black p span {
	color: #fff;
}
.section.white p {
	color: #555;
}
.section.white p span {
	color: #000;
}




#payment {

	float:left;
	/*margin:0 auto;*/

	color:#000;
	
	width:500px;
	padding:40px;
	overflow: hidden;

	background:#FFF;

	font-size:20px;

}
#payment input[type=text], input[type=email] {
	width:500px;
	font-size:17px;
	padding:5px;
}
#submit_button {
	clear: both;
	cursor: pointer;
	border-radius: 50px;
	padding: 10px 20px;
	color:#FFF;
	background: #000;
	width: 400px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	font-size: 30px;
	top:-50px;
}
#submit_button:hover {
	background: #333;
	top:-51px;
}

#leaderboard {
	float:right;
	width:250px;
	margin-top: 40px;
	margin-bottom: 80px;
}
#leaderboard li span {
	color:#777;
}
#leaderboard_show {

	/*display:none;*/

	color:#fff;
	background:#bbb;
	border-radius: 5px;
	padding:5px 10px;
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
	text-decoration: none;
}
#leaderboard_show:hover {
	background: #ccc;
}



#countdown {
	font-family:Oswald,Arial;
	/*font-family: monospace;*/
	color:#fff;
	font-size:50px;
}



#splash2 {
	height:100%;
	position: relative;
}
#footer {
	background:#000;
	color:#fff;
	width:100%;
	overflow: hidden;
	position: absolute; bottom:0;
	padding: 20px 0;
	text-align: center;
}

#footer_info {
	
	width:100%;
	height:200px;

	position: absolute;
	background: rgba(0,0,0,0.8);
	padding: 10px 0 20px 0;

	top: -webkit-calc(50% - 100px);
	top: -moz-calc(50% - 100px);
	top: -ms-calc(50% - 100px);
	top: -o-calc(50% - 100px);
	top: calc(50% - 100px);

}
